@page "/"
@using SudokuClassLibrary
@inject GameState GameState

<PageTitle>Sudoku Game</PageTitle>

<div class="main">
   
    <div class="game-title"><h1>@GameTitle</h1></div>

    @if (GameState == null)
    {
        <p>Loading game board ...</p>
    }
    else
    {   
        <div class="game-container">
            <div class="game-column">
                <table>
                    @for (int row = 0; row <= 8; row++)
                    {
                        <tr>
                            @for (int column = 0; column <= 8; column++)
                            {
                                <td class="grid">
                                    <Cell
                                        GameState="GameState"
                                        CellRow="@row"
                                        CellColumn="@column"
                                        OnValueError=@ShowError />
                                </td>
                            }
                        </tr>
                    }
                </table>

                @if (AreYouSureDialogIsVisible)
                {
                    <TwoButtonDialog
                    Type="DialogType.AreYouSure"
                    Message=@DialogMessage
                    OnResult="HandleAreYouSureDialogResult" />
                }

                @if (ErrorDialogIsVisible)
                {
                    <SingleButtonDialog
                        Type="DialogType.Error"
                        Message=@ErrorMessage
                        OnClose="CloseError" />
                }

                @if (CongratulationsDialogIsVisible)
                {
                    <SingleButtonDialog
                        Type="DialogType.Congratulations"
                        Message="You've completed the game!"
                        OnClose="CloseCongratulations" />
                }

                @if (IsButtonGroupVisible(ButtonGroup.Setup))
                {
                    <div class="page-buttons-multiple">
                        <button class="btn btn-danger" 
                            disabled=@IsButtonDisabled(Button.ClearGrid)
                            @onclick="@ClearGridAsync">Clear game grid</button>
                        <button class="btn btn-success" 
                            disabled=@IsButtonDisabled(Button.StartGame)
                            @onclick="StartGame">Start game</button>
                    </div>
                }
                @if (IsButtonGroupVisible(ButtonGroup.Game))
                {
                    <div class="page-buttons-multiple">
                        <button class="@PauseContinueButtonClass pause-continue-button" 
                                disabled=@IsButtonDisabled(Button.PauseContinue)
                                @onclick="TogglePauseGame">@PauseContinueButtonText</button>
                        <button class="btn btn-warning"  
                                disabled=@IsButtonDisabled(Button.RestartGame)
                                @onclick="@RestartGameAsync">Restart game</button>
                        <button class="btn btn-danger" @onclick="@NewGameAsync">New game</button>
                    </div>
                }
                <div class="page-buttons-multiple">
                        <button class="btn btn-primary" 
                                disabled=@IsButtonDisabled(Button.Undo)
                                @onclick="@UndoChange">&lt; Undo</button>                            
                        <button class="btn btn-primary" 
                                disabled=@IsButtonDisabled(Button.Redo)
                                @onclick="RedoChange">Redo &gt;</button>
                </div>
            </div>

            <div class="game-column">

                <div class="text-panel options-panel">
                    <h2>Options</h2>

                    <p>Tick the checkbox to make this a <strong>Killer Sudoku</strong> game.</p>

                        <div class="options-container">
                        <input type="checkbox" class="checkbox-large" 
                            disabled=@IsKillerSudokuDisabled @bind="GameState.IsKillerSudoku" />
                        <label>Is Killer Sudoku</label>
                    </div>

                    <p/>
                    <p>The following options can be changed at any time, during setup or during the game.</p>

                    <p>They provide help to make the game easier.  You may find them most useful 
                        in more difficult games, and that they make easier games too trivial.</p>

                    <div class="options-container">
                        <input type="checkbox" class="checkbox-large" 
                        disabled=@AreOptionsDisabled @bind="GameState.ShowPossibleValues" />
                        <label>Show possible values for each square</label>
                        <br/>
                        <input type="checkbox" class="checkbox-large" 
                        disabled=@AreOptionsDisabled @bind="GameState.HighlightSinglePossibleValue" />
                        <label>Highlight squares with only one possible value</label>
                    </div>
                </div>

                @*<p>Current game state: @GameState.Status</p>
                <p>Previous game state: @GameState.PreviousStatus</p>
                <p>Dialog button pressed: @DialogResult</p>*@

                <p/>
                <h2>Instructions</h2>

                    <p>See the <a href="help">Sudoku Help</a> page.</p>
            </div>            
        </div>
    }

</div>

@code
{
    #region Lifecycle Events **********************************************************************

    protected override void OnInitialized()
    {
        GameState.RefreshRequested += RefreshMe;
    }

    public void Dispose()
    {
        GameState.RefreshRequested -= RefreshMe;
    }

    private async void RefreshMe()
    {
        await InvokeAsync(() => StateHasChanged());

        if (GameState.GameIsComplete)
        {
            ShowCongratulations();
        }
    }

    #endregion

    #region Miscellaneous setup *******************************************************************

    private string GameTitle => (GameState?.IsKillerSudoku ?? false) ? "Killer Sudoku!" : "Sudoku!";
    private bool IsKillerSudokuDisabled => (GameState.Status != GameStatus.Initial
                                        && GameState.Status != GameStatus.Setup);
    private bool AreOptionsDisabled => (GameState.Status == GameStatus.Completed);

    #endregion

    #region Button setup **************************************************************************

    private string _pauseContinueButtonText = "Pause";
    private string PauseContinueButtonText
    {
        get
        {
            return _pauseContinueButtonText;
        }
    }

    private string _pauseContinueButtonClass = "btn btn-info";
    private string PauseContinueButtonClass
    {
        get
        {
            return _pauseContinueButtonClass;
        }
    }

    private bool IsButtonDisabled(Button button)
    {
        if (button == Button.Undo)
        {
            return !GameState.History.CanUndo;
        }
        if (button == Button.Redo)
        {
            return !GameState.History.CanRedo;
        }

        switch (GameState.Status)
        {
            case GameStatus.Initial:
                return (button != Button.ClearGrid);
            case GameStatus.Setup:
                return (button != Button.ClearGrid && button != Button.StartGame);
            case GameStatus.GameStart:
                return (button != Button.PauseContinue && button != Button.NewGame);
            case GameStatus.Running:
            case GameStatus.Paused:
                return (button != Button.PauseContinue && button != Button.RestartGame 
                    && button != Button.NewGame);
            case GameStatus.Completed:
                return (button != Button.RestartGame && button != Button.NewGame);
            case GameStatus.ModalDialogOpen:
                return true;
            default:
                return true;
        }
    }

    private bool IsButtonGroupVisible(ButtonGroup buttonGroup)
    {
        switch (GameState.Status)
        {
            case GameStatus.Initial:
            case GameStatus.Setup:
                return (buttonGroup != ButtonGroup.Game);
            case GameStatus.GameStart:
            case GameStatus.Running:
            case GameStatus.Paused:
            case GameStatus.Completed:
            case GameStatus.ModalDialogOpen:
                return (buttonGroup != ButtonGroup.Setup);
            default:
                return true;
        }
    }

    #endregion

    #region Button events *************************************************************************

    private void UndoChange()
    {
        GameState.OnUndo();
    }

    private void RedoChange()
    {
        GameState.OnRedo();
    }

    private void StartGame()
    {
        GameState.Status = GameStatus.GameStart;
    }

    private void TogglePauseGame()
    {
        if (GameState.Status == GameStatus.GameStart || GameState.Status == GameStatus.Running)
        {
            _pauseContinueButtonText = "Continue";
            _pauseContinueButtonClass = "btn btn-primary";
            PauseGame();
        }
        else if (GameState.Status == GameStatus.Paused)
        {
            _pauseContinueButtonText = "Pause";
            _pauseContinueButtonClass = "btn btn-info";
            ContinueGame();
        }
    }

    private void PauseGame()
    {
        GameState.Status = GameStatus.Paused;
    }

    private void ContinueGame()
    {
        GameState.ResetToPreviousStatus();
    }

    private async Task ClearGridAsync()
    {
        string dialogMessage = "Are you sure you want to clear all initial values?";
        Action actionOnConfirmation = () =>
        {
            GameState.Status = GameStatus.Initial;
        };

        await ActWithConfirmationAsync(dialogMessage, actionOnConfirmation);
    }

    private async Task RestartGameAsync()
    {
        string dialogMessage = "Are you sure you want to restart the game?";
        Action actionOnConfirmation = () =>
        {
            GameState.Status = GameStatus.GameStart;
        };

        await ActWithConfirmationAsync(dialogMessage, actionOnConfirmation);
    }

    private async Task NewGameAsync()
    {
        string dialogMessage = "Are you sure you want to cancel this game and start a new one?";
        Action actionOnConfirmation = () =>
        {
            GameState.Status = GameStatus.Initial;
        };

        await ActWithConfirmationAsync(dialogMessage, actionOnConfirmation);
    }

    private async Task ActWithConfirmationAsync(string dialogMessage, Action actionOnConfirmation)
    {
        var previousStatus = GameState.Status;

        DialogMessage = dialogMessage;
        DialogResult result = DialogResult.Unknown;

        ShowAreYouSureDialog();
        await Utilities.WaitUntil(() => DialogResult != DialogResult.Unknown);
        result = DialogResult;

        if (result == DialogResult.Ok)
        {
            actionOnConfirmation();
        }
        else
        {
            // If dialog cancelled return to the previous game state.
            GameState.ResetToPreviousStatus();
        }
    }

    #endregion

    #region Dialog display ************************************************************************

    private bool AreYouSureDialogIsVisible { get; set; } = false;
    private string DialogMessage { get; set; } = "Are you sure?";
    private DialogResult DialogResult { get; set; } = DialogResult.Unknown;

    private bool ErrorDialogIsVisible { get; set; } = false;
    private string ErrorMessage { get; set; } = "An error occurred.";

    private bool CongratulationsDialogIsVisible { get; set; } = false;

    private void ShowAreYouSureDialog()
    {
        GameState.Status = GameStatus.ModalDialogOpen;
        AreYouSureDialogIsVisible = true;
        DialogResult = DialogResult.Unknown;
    }

    private void HandleAreYouSureDialogResult(DialogResult result)
    {
        AreYouSureDialogIsVisible = false;
        DialogResult = result;
    }

    private void ShowError(string errorMessage)
    {
        GameState.Status = GameStatus.ModalDialogOpen;
        ErrorMessage = errorMessage;
        ErrorDialogIsVisible = true;
    }

    private void CloseError()
    {
        ErrorDialogIsVisible = false;
        ErrorMessage = "An error occurred.";
        GameState.ResetToPreviousStatus();
    }

    private void ShowCongratulations()
    {
        CongratulationsDialogIsVisible = true;
    }

    private void CloseCongratulations()
    {
        CongratulationsDialogIsVisible = false;
    }

    #endregion
}
