@page "/"
@using SudokuClassLibrary
@inject GameState GameState

<PageTitle>Sudoku Game</PageTitle>

<div class="main">
   
    @if (GameState == null)
    {
        <p>Loading game board ...</p>
    }
    else
    {   
        <div class="game-container">
            <div class="game-column">
                <h1>@GameTitle</h1>

                <table>
                    @for (int row = 0; row <= 8; row++)
                    {
                        <tr>
                            @for (int column = 0; column <= 8; column++)
                            {
                                <td class="grid">
                                    <Cell
                                        GameState="GameState"
                                        CellRow="@row"
                                        CellColumn="@column"
                                        OnValueError=@ShowError />
                                </td>
                            }
                        </tr>
                    }
                </table>

                @if (TwoButtonDialogIsVisible)
                {
                    <TwoButtonDialog
                    Type="DialogType.AreYouSure"
                    Message=@DialogMessage
                    OnResult="HandleDialogResult" />
                }

                @if (ErrorDialogIsVisible)
                {
                    <SingleButtonDialog
                        Type="DialogType.Error"
                        Message=@ErrorMessage
                        OnClose="CloseError" />
                }

                @if (GameState.Status == GameStatus.Setup)
                {
                    <div class="page-buttons-single">
                        <button class="btn btn-success" @onclick="StartGame">Start game</button>
                    </div>
                }
                @if (GameState.Status != GameStatus.Unknown && GameState.Status != GameStatus.Setup)
                {
                    <div class="page-buttons-multiple">
                        <button class="@PauseContinueButtonClass pause-continue-button" 
                                disabled=@IsPauseContinueDisabled
                                @onclick="TogglePauseGame">@PauseContinueButtonText</button>
                                <button class="btn btn-warning"  
                                disabled=@IsCancelledDisabled
                                @onclick="@CancelGameAsync">Cancel</button>
                        <button class="btn btn-danger" @onclick="@NewGameAsync">New game</button>
                    </div>
                }
            </div>

                <div class="game-column">
                    <h2>Instructions</h2>

                    <p>Tick the checkbox to make this a <strong>Killer Sudoku</strong> game.</p>
                    
                    <div>
                        <span class="killer-container">
                            <label>Is Killer Sudoku:</label>
                            <input type="checkbox" class="checkbox-large" disabled=@IsKillerSudokuDisabled @bind="GameState.IsKillerSudoku" />
                        </span>
                    </div>
                    <p>&nbsp;</p>

                    <p>Click on squares to enter the initial values.</p>

                    <p>When you finish entering the initial values, click the 
                        <strong>Start Game</strong> button to start the game and timer.</p>

                    <p>The small numbers in each square indicate the possible                         
                            valid values for that square.</p>

                    <p>If a square has only one possible valid value it will be highlighted in pale yellow.</p>

                    <p>During the game click on a square to enter or remove a value.</p>

                    <p>The game will finish and the timer will stop when you set the value of the 
                        last square in the game grid.</p>

                    <p>At any time during the game you can use the following buttons:</p>
                    <ul>
                        <li><strong>Pause</strong> button:  Pauses the timer.  Continue the game again 
                            via the <strong>Continue</strong> button;</li>
                        <li><strong>Cancel</strong> button:  Cancels the game but leaves any set 
                            values in place (so you can see where you went wrong);</li>
                        <li><strong>New game</strong> button: Cancels the game and clears the game  
                            grid so you can start again.</li>
                        </ul>

                    <p>&nbsp;</p>
                        <p>Current game state: @GameState.Status</p>

                    <p>&nbsp;</p>
                    <p>Dialog button pressed: @DialogResult</p>
                </div>
        </div>
    }

</div>

@code
{
    private string GameTitle => GameState.IsKillerSudoku ? "Killer Sudoku!" : "Sudoku!";

    private bool IsKillerSudokuDisabled => !(GameState.Status == GameStatus.Setup);

    private string PauseContinueButtonText => GameState.Status == GameStatus.Paused ? "Continue" : "Pause";
    private string PauseContinueButtonClass => GameState.Status == GameStatus.Paused ? "btn btn-primary" : "btn btn-info";
    private bool IsPauseContinueDisabled => (GameState.Status == GameStatus.Cancelled 
                                            || GameState.Status == GameStatus.Completed);
    private bool IsCancelledDisabled => (GameState.Status == GameStatus.Cancelled
                                            || GameState.Status == GameStatus.Completed);

    private bool TwoButtonDialogIsVisible { get; set; } = false;
    private string DialogMessage { get; set; } = "Are you sure?";
    private DialogResult DialogResult { get; set; } = DialogResult.Unknown;

    private bool ErrorDialogIsVisible { get; set; } = false;
    private string ErrorMessage { get; set; } = "An error occurred.";

    protected override void OnInitialized()
    {
        GameState.RefreshRequested += RefreshMe;
    }

    protected override async Task OnAfterRenderAsync (bool firstRender)
    {
        if (firstRender)
        {
            GameState.Status = GameStatus.Setup;
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    public void Dispose()
    {
        GameState.RefreshRequested -= RefreshMe;
    }

    private void StartGame()
    {
        GameState.Status = GameStatus.Running;
    }

    private void TogglePauseGame()
    {
        if (GameState.Status == GameStatus.Running)
        {
            PauseGame();
        }
        else if (GameState.Status == GameStatus.Paused)
        {
            ContinueGame();
        }
    }

    private void PauseGame()
    {
        GameState.Status = GameStatus.Paused;
    }

    private void ContinueGame()
    {
        GameState.Status = GameStatus.Running;
    }

    private async Task CancelGameAsync()
    {
        string dialogMessage = "Are you sure you want to cancel the game?";
        Action actionOnConfirmation = () =>
        {
            GameState.Status = GameStatus.Cancelled;
        };

        await ActWithConfirmationAsync(dialogMessage, actionOnConfirmation);
    }

    private async Task NewGameAsync()
    {
        string dialogMessage = "Are you sure you want to cancel this game and start a new one?";
        Action actionOnConfirmation = () =>
        {
            GameState.IsKillerSudoku = false;
            GameState.GameGrid.ResetGame();
            GameState.Status = GameStatus.Setup;
        };

        await ActWithConfirmationAsync(dialogMessage, actionOnConfirmation);
    }

    private async Task ActWithConfirmationAsync(string dialogMessage, Action actionOnConfirmation)
    {
        // Want to pause the game while the dialog is open.  If the user chooses to cancel the 
        // action then want to resume the previous status.
        var previousStatus = GameState.Status;
        GameState.Status = GameStatus.Paused;

        DialogMessage = dialogMessage;
        DialogResult result = DialogResult.Unknown;

        ShowDialog();
        await Utilities.WaitUntil(() => DialogResult != DialogResult.Unknown);
        result = DialogResult;

        if (result == DialogResult.Ok)
        {
            actionOnConfirmation();
        }
        else
        {
            // If dialog cancelled return to the previous game state.
            GameState.Status = previousStatus;
        }
    }

    private void ShowDialog()
    {
        TwoButtonDialogIsVisible = true;
        DialogResult = DialogResult.Unknown;
    }

    private void HandleDialogResult(DialogResult result)
    {
        TwoButtonDialogIsVisible = false;

        DialogResult = result;
    }

    private void ShowError(string errorMessage)
    {
        ErrorMessage = errorMessage;
        ErrorDialogIsVisible = true;
    }

    private void CloseError()
    {
        ErrorDialogIsVisible = false;
        ErrorMessage = "An error occurred.";
    }

    private async void RefreshMe()
    {
        await InvokeAsync(() => StateHasChanged());
    }
}
